h {
  font-family: Mukta;
  font-size: 22px;
}
p {
  background-color: tan;
  background-color: blue;
  background-color: olive;
}

div {
  width: 1500px;
  height: 200px;
  background-color: white;
}

h1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
}
