* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.79),
      rgba(255, 255, 255, 0.788)
    ),
    url(../img/Phone-man.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 100%, 100% 100%, 100% 0vh, 0 0);
}
